* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, p, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, fieldset, legend, input, textarea{
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  height: 100%;
}

body{
  font-family: PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left top, #ace 40%, #f96);
  background: -moz-linear-gradient(left top, #ace 40%, #f96);
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

img, fieldset, input{
  border: none;
}

input{
  outline: none;
}

h1, h2, h3, h4, h5, h6, b, strong{
  font-weight: normal;
}

em, i{
  font-style: normal;
}

.wrap{
  width: 900px;
  height: 100%;
  margin: 0 auto;
}

.top{
  overflow: hidden;
  padding: 80px 50px 0;
  .banner{
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    img{
      width: 100%;
      height: 100%;
    }
    .hook{
      width: 77px;
      height: 229px;
      position: absolute;
      right: -73px;
      top: -20px;
      background: url(img/cd_tou.png);
    }
  }
  .right{
    position: relative;
    text-align: center;
    float: right;
    width: 400px;
    height: 300px;
    padding-top: 50px;
    header{
      height: 75px;
      font-size: 40px;
      line-height: 75px;
    }
    .author{
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      i{
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .control{
      width: 200px;
      margin: 20px auto 0;
      display: flex;
      justify-content: space-around;
    }
  }
}

.bottom{
  margin-left: 40px;
  margin-top: 10px;
  width: 800px;
  display: flex;
  justify-content:space-around;
  li{
    width: 180px;
    height: 90px;
    border-radius: 10px;
    background: linear-gradient(rgba(55, 107, 204, 0.5) 30%, rgba(176, 12, 255, 0.8));
    background: -webkit-linear-gradient(rgba(55, 107, 204, 0.5) 30%, rgba(176, 12, 255, 0.8));
    background: -moz-linear-gradient(rgba(55, 107, 204, 0.5) 30%, rgba(176, 12, 255, 0.8));
    a{
      color: #fff;
      text-align: center;
      h3{
        font-size: 24px;
        line-height: 54px;
        height: 54px;
      }
      span{
        font-size: 16px;
      }
      i{
        font-size: 14px;
      }
    }
  }
}

.rotate{
  animation:myrotate 15s infinite linear;
  -webkit-animation:myrotate 15s infinite linear;
  -webkit-animation-play-state: paused;
  -moz-animation:myrotate 15s infinite linear;
  -moz-animation-play-state: paused;
}
@-webkit-keyframes myrotate {
   0%{
     -webkit-transform: rotate(0deg);
   }
   50%{
     -webkit-transform: rotate(180deg);
   }
   100%{
     -webkit-transform: rotate(360deg);
   }
 }

@-moz-keyframes myrotate {
  0%{
    -moz-transform: rotate(0deg);
  }
  50%{
    -moz-transform: rotate(180deg);
  }
  100%{
    -moz-transform: rotate(360deg);
  }
}

.hook{
  transition: transform 0.3s ease-in;
}
.hookleft{
  transform-origin: right top;
  transform: rotate(10deg);
}
.hookright{
  transform-origin: right top;
  transform: rotate(-5deg);
}

.bottom .highlight{
  background: linear-gradient(rgba(215, 51, 31, 0.6) 30%, rgba(209, 17, 14, 0.67));
}

.range{
  margin-top: 30px;
  width: 130px;
  height: 5px;
  border-radius: 0.25rem;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: rgba(5, 5, 11, 0.81);
}

/*input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  margin-top: -5px;
  background: #ffffff;
  border-radius: 50%;
  border: solid 0.125em rgba(205, 224, 230, 0.5);
  box-shadow: 0 .125em .125em #3b4547;
}*/

.cur, .max {
  margin: 0 10px;
  font-size: 14px;
}

.vol{
  font-size: 18px;
  position: absolute;
  left: 398px;
  top: 243px;
}

.volVal {
  margin-left: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: -30px;
  top: 75px;
}
.volshow {
  width: 6px;
  height: 120px;
  background: linear-gradient(to top, rgba(35, 100, 206, 0.85), #e6dccf 100%, #e6dccf);
  position: absolute;
  right:-7px;
  top: 105px;
  border-radius: 10px;
  border: solid 0.125em rgba(205, 224, 230, 0.5);
  box-shadow: 0 1px 1px #def3f8;
}

.range2{
  transform: rotate(-90deg);
  background: linear-gradient(to right, rgba(35, 100, 206, 0.85), #e6dccf 100%, #e6dccf);
  position: absolute;
  width: 120px;
  height: 10px;
  right:-66px;
  top: 165px;
  -webkit-appearance: none;
  border-radius: 10px;
  &::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #ffb16e;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -5px;
    background: #e6dccf;;
    border-radius: 50%;
    border: solid 0.125em rgba(205, 224, 230, 0.5);
    box-shadow: 0 .125em .125em #3b4547;
  }
}

